<!DOCTYPE html>
<html lang="en" ng-app="portfolio" ng-controller="MainCtrl as main">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NAd | Developer</title>
        <link href='https://fonts.googleapis.com/css?family=Cinzel+Decorative:700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>    
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
        <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="static/bower_components/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css"/>
        <link rel="stylesheet" href="static/css/portfolio.css">
    </head>
    <body>
        <!-- Page Load gif and overlay -->
       <div class="loading-page"></div>
         <md-toolbar layout class="md-padding">
               <div flex>
                   <img src="static/images/logo.png" alt="ND Logo" class="header-logo">
               </div>
                <div flex layout-align="center center" hide-xs ng-show="{{name.length > 3}}">
                    <md-button class="md-primary" aria-label="Featured Work" href="#featured" du-smooth-scroll du-scrollspy>
                      Featured Work
                    </md-button>
                 </div>
                 <div flex layout="column" layout-align="end center" hide-xs>
                        <div flex>
                            <span class="md-headline name">Nick Daniel</span>
                        </div>
                        <div flex>
                            <span class="speciality">front-end developer</span>
                        </div>
                 </div>
                 <div flex layout="column" layout-align="end center"  hide-gt-xs>
                        <div flex>
                            <span class="md-title">Nick Daniel</span>
                        </div>
                        <div flex>
                            <span class="md-subhead">front-end developer</span>
                        </div>
                 </div>
                 
           </md-toolbar>
        <div class="md-margin md-padding">
               <div flex-gt-sm="40">
                   <md-input-container class="md-block">
                       <label>Start Here by entering your Name</label>
                       <input ng-model="name">
                  </md-input-container>
               </div>
            <md-content ng-show="name.length > 3">
                <div layout>
                <div flex>
                    
                </div>
                <div flex layout="column" layout-align="end end">
                    <div flex>
                        <span class="md-headline name">Nick Daniel</span>
                    </div>
                    <div flex>
                        <span class="speciality">front-end developer</span>
                    </div>
                </div>
            </div>
            <div layout>
                <div flex="100" class="md-padding">
                    <md-divider></md-divider>
                </div>
            </div>
            <section layout class="opening-image">
                <div id="overlay"></div>
                    <div layout layout-align="center center" class="md-padding">
                        <div flex class="text-container">
                            <h1 class="img-text">Welcome <span>{{name}}</span>,</h1>
                            <h3 class="img-text">to my Portfolio</h3>
                         </div>
                    </div>
            </section>
               <md-content>
                   <div layout>
                    <div flex class="text-center" id="featured">
                        <h1 class="md-headline">Featured Work</h1>
                            <md-divider></md-divider>
                    </div>
                </div>
                    <section layout-lg="row" layout-md="row" layout-sm="column">
                        <md-card flex ng-repeat="item in main.featuredWork">
                            <div flex class="text-center">
                               <span class="md-headline">{{ item.title }}</span>
                            </div>
                            <div flex class="md-padding">
                                <img ng-src="{{item.image}}" class=" img-responsive" alt="Washed Out">
                            </div>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-raised md-accent" aria-label="Learn More" ng-click="main.learnMore1()">
                                  learn more
                                </md-button>
                                <md-button class="md-raised md-accent" aria-label="Learn More" ng-click="main.learnMore1()">
                                      learn more
                                </md-button>
                            </md-card-actions>
                        </md-card>
                    </section>
               </md-content>
            </md-content>
                
        </div>
    </body>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.0/angular-scroll.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
        <script src="https://rawgit.com/krispo/angular-nvd3/v1.0.5/dist/angular-nvd3.js"></script>
        <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="static/js/app.js"></script>
        <script src="static/js/portfolio.js"></script>
</html>
