/* Page Loading overlay */
.loading-page {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader_9.gif) center no-repeat #fff;
}


/* Header Bar*/
.header-logo {
    width: 100px;
    height: auto;
    
}
.name {
    font-size: 24px;
    font-family: 'Cinzel Decorative', cursive;
}

.speciality {
    font-size: 16px;
    font-family: 'Orbitron', sans-serif;
    text-transform: capitalize;
}


/* Opening Image and text */
.opening-image {
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    width: 100%;
    color: #fff;
    position: relative;
    border-radius: 8px;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    border-radius: 8px;
}

.text-container {
    z-index: 500;
    text-align: center;
    padding: 5px;
}

.img-text {
    text-shadow: 1px 2px #000;
    color: #fff !important;
    z-index: 500;
}

/* Misc Additional style */
hr {
    border-top: 3px solid #999;
}

.box-shadow {
    -webkit-box-shadow: 3px 7px 24px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 7px 24px -2px rgba(0,0,0,0.75);
    box-shadow: 3px 7px 24px -2px rgba(0,0,0,0.75);
}



/* Featured Work Section */
.feature:hover {
    box-shadow: 1px 2px 2px 5px #ccc;
}

.image-container {
    position: relative;
    width: 100%;
    height: auto;
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
}


